#encoding=UTF-8
{{#app_wrapper_encoding}}
encoding={{{app_wrapper_encoding}}}
{{/app_wrapper_encoding}}
# Configuration files must begin with a line specifying the encoding
#  of the the file.

#********************************************************************
# Wrapper License Properties (Ignored by Community Edition)
#********************************************************************
# Professional and Standard Editions of the Wrapper require a valid
#  License Key to start.  Licenses can be purchased or a trial license
#  requested on the following pages:
# http://wrapper.tanukisoftware.com/purchase
# http://wrapper.tanukisoftware.com/trial

# Include file problems can be debugged by removing the first '#'
#  from the following line:
##include.debug

# The Wrapper will look for either of the following optional files for a
#  valid License Key.  License Key properties can optionally be included
#  directly in this configuration file.
#include ../conf/wrapper-license.conf
#include ../conf/wrapper-license-%WRAPPER_HOST_NAME%.conf

# The following property will output information about which License Key(s)
#  are being found, and can aid in resolving any licensing problems.
#wrapper.license.debug=TRUE

#********************************************************************
# Wrapper Localization
#********************************************************************
# Specify the locale which the Wrapper should use.  By default the system
#  locale is used.
#wrapper.lang=en_US # en_US or ja_JP
{{#app_wrapper_lang}}
wrapper.lang={{{app_wrapper_lang}}}
{{/app_wrapper_lang}}

{{#app_wrapper_include_files}}
include {{{file}}}
{{/app_wrapper_include_files}}

#********************************************************************
# Wrapper Properties
#********************************************************************

{{#app_wrapper_base_properties}}
set.default.{{{item}}}
{{/app_wrapper_base_properties}}


# Specify the location of the Wrapper's language resources.  If these are
#  missing, the Wrapper will default to the en_US locale.
#wrapper.lang.folder=../lang
{{#app_wrapper_lang_folder}}
wrapper_lang_folder={{{app_wrapper_lang_folder}}}
{{/app_wrapper_lang_folder}}

#********************************************************************
# Wrapper Java Properties
#********************************************************************
# Java Application

{{#app_wrapper_working_dir}}
wrapper.working.dir={{{app_wrapper_working_dir}}}
{{/app_wrapper_working_dir}}

#wrapper_java_command=java
#  Specify a specific java binary:
{{#app_wrapper_java_command}}
wrapper.java.command={{{app_wrapper_java_command}}}
{{/app_wrapper_java_command}}
{{^app_wrapper_java_command}}
wrapper.java.command=%JAVA_HOME%/bin/java
{{/app_wrapper_java_command}}

# Tell the Wrapper to log the full generated Java command line.
#wrapper_java_command_loglevel=INFO
wrapper.java.command.loglevel={{{app_wrapper_loglevel}}}


# Java Main class.  This class must implement the WrapperListener interface
#  or guarantee that the WrapperManager class is initialized.  Helper
#  classes are provided to do this for you.  See the Integration section
#  of the documentation for details.
{{#app_wrapper_mainclass}}
wrapper.java.mainclass={{{app_wrapper_mainclass}}}
{{/app_wrapper_mainclass}}
{{^app_wrapper_mainclass}}
wrapper.java.mainclass=org.tanukisoftware.wrapper.WrapperSimpleApp
{{/app_wrapper_mainclass}}

# Java Classpath (include wrapper.jar)  Add class path elements as
#  needed starting from 1
#wrapper.java.classpath.1=../lib/wrapper.jar
#    MA - This actually needs to be set using home from the specfile
# wrapper.java.classpath.1={{{app_wrapper_tanukihome}}}/lib/wrapper.jar
{{#app_wrapper_java_classpaths}}
wrapper.java.classpath.{{{item}}}
{{/app_wrapper_java_classpaths}}


# Java Library Path (location of Wrapper.DLL or libwrapper.so)
# wrapper.java.library.path.1=../lib
#wrapper.java.library.path.add Should start with 1
{{#app_wrapper_java_library_paths}}
wrapper.java.library.path.{{{item}}}
{{/app_wrapper_java_library_paths}}


# Java Bits.  On applicable platforms, tells the JVM to run in 32 or 64-bit mode.
#wrapper.java.additional.auto_bits=TRUE
{{#app_wrapper_auto_bits}}
wrapper.java.additional.auto_bits={{{app_wrapper_auto_bits}}}
{{/app_wrapper_auto_bits}}

# Java Additional Parameters
# app_wrapper.java.additionals = [ { "item" : "1=someparam"},{ "item" : "2=anotherparam"} ]
{{#app_wrapper_java_additionals}}
wrapper.java.additional.{{{item}}}
{{/app_wrapper_java_additionals}}

# Initial Java Heap Size (in MB)
#wrapper.java.initmemory=3
wrapper.java.initmemory={{{app_wrapper_java_initmemory}}}

# Maximum Java Heap Size (in MB)
#wrapper.java.maxmemory=64
wrapper.java.maxmemory={{{app_wrapper_java_maxmemory}}}

# Application parameters.  Add parameters as needed starting from 1
# in many cases, param 1 will be the main class, but if not then don't define it
{{#app_wrapper_parameters}}
wrapper.app.parameter.{{{item}}}
{{/app_wrapper_parameters}}


#********************************************************************
# Wrapper Logging Properties
#********************************************************************
# Enables Debug output from the Wrapper.
# wrapper.debug=TRUE

# Format of output for the console.  (See docs for formats)
#wrapper.console.format=PM
{{#app_wrapper_console_format}}
wrapper.console.format={{{app_wrapper_console_format}}}
{{/app_wrapper_console_format}}


# Log Level for console output.  (See docs for log levels)
#wrapper.console.loglevel=INFO
{{#app_wrapper_console_loglevel}}
wrapper.console.loglevel={{{app_wrapper_console_loglevel}}}
{{/app_wrapper_console_loglevel}}


# Log file to use for wrapper output logging.
#wrapper.logfile=../logs/wrapper.log
{{#app_wrapper_logfile}}
wrapper.logfile={{{app_wrapper_logfile}}}
{{/app_wrapper_logfile}}


# Format of output for the log file.  (See docs for formats)
#wrapper.logfile.format=LPTM
{{#app_wrapper_logfile_format}}
wrapper.logfile.format={{{app_wrapper_logfile_format}}}
{{/app_wrapper_logfile_format}}


# Log Level for log file output.  (See docs for log levels)
#wrapper.logfile.loglevel=INFO
{{#app_wrapper_logfile_loglevel}}
wrapper.logfile.loglevel={{{app_wrapper_logfile_loglevel}}}
{{/app_wrapper_logfile_loglevel}}


# Maximum size that the log file will be allowed to grow to before
#  the log is rolled. Size is specified in bytes.  The default value
#  of 0, disables log rolling.  May abbreviate with the 'k' (kb) or
#  'm' (mb) suffix.  For example: 10m = 10 megabytes.
{{#app_wrapper_logfile_maxsize}}
wrapper.logfile.maxsize={{{app_wrapper_logfile_maxsize}}}
{{/app_wrapper_logfile_maxsize}}
{{^app_wrapper_logfile_maxsize}}
wrapper.logfile.maxsize=0
{{/app_wrapper_logfile_maxsize}}


# Maximum number of rolled log files which will be allowed before old
#  files are deleted.  The default value of 0 implies no limit.
{{#app_wrapper_logfile_maxfiles}}
wrapper.logfile.maxfiles={{{app_wrapper_logfile_maxfiles}}}
{{/app_wrapper_logfile_maxfiles}}
{{^app_wrapper_logfile_maxfiles}}
wrapper.logfile.maxfiles=0
{{/app_wrapper_logfile_maxfiles}}

# Log Level for sys/event log output.  (See docs for log levels)
#wrapper.syslog.loglevel=NONE
{{#app_wrapper_syslog_loglevel}}
wrapper.syslog.loglevel={{{app_wrapper_syslog_loglevel}}}
{{/app_wrapper_syslog_loglevel}}


#********************************************************************
# Wrapper General Properties
#********************************************************************
# Allow for the use of non-contiguous numbered properties
#{wrapper.ignore_sequence_gaps=TRUE
{{#app_wrapper_ignore_seq_gaps}}
wrapper.ignore_sequence_gaps={{{app_wrapper_ignore_seq_gaps}}}
{{/app_wrapper_ignore_seq_gaps}}


# Do not start if the pid file already exists.
{{#app_wrapper_pidfile_strict}}
wrapper.pidfile.strict={{{app_wrapper_pidfile_strict}}}
{{/app_wrapper_pidfile_strict}}

# Title to use when running as a console
wrapper.console.title={{{app_long_name}}}

#********************************************************************
# Wrapper JVM Checks
#********************************************************************
# Detect DeadLocked Threads in the JVM. (Requires Standard Edition)
wrapper.check.deadlock=TRUE
wrapper.check.deadlock.interval=60
wrapper.check.deadlock.action=RESTART
wrapper.check.deadlock.output=FULL

# Out Of Memory detection.
#  Ignore -verbose:class output to avoid false positives.
wrapper.filter.trigger.1000=[Loaded java.lang.OutOfMemoryError
wrapper.filter.action.1000=NONE
# (Simple match)
wrapper.filter.trigger.1001=java.lang.OutOfMemoryError
# (Only match text in stack traces if -XX:+PrintClassHistogram is being used.)
#wrapper.filter.trigger.1001=Exception in thread "*" java.lang.OutOfMemoryError
#wrapper.filter.allow_wildcards.1001=TRUE
wrapper.filter.action.1001=RESTART
wrapper.filter.message.1001=The JVM has run out of memory.

#********************************************************************
# Wrapper Email Notifications. (Requires Professional Edition)
#********************************************************************
# Common Event Email settings.
#wrapper.event.default.email.debug=TRUE
#wrapper.event.default.email.smtp.host=<SMTP_Host>
#wrapper.event.default.email.smtp.port=25
#wrapper.event.default.email.subject=[%WRAPPER_HOSTNAME%:%WRAPPER_NAME%:%WRAPPER_EVENT_NAME%] Event Notification
#wrapper.event.default.email.sender=<Sender email>
#wrapper.event.default.email.recipient=<Recipient email>

# Configure the log attached to event emails.
#wrapper.event.default.email.attach_log=TRUE
#wrapper.event.default.email.maillog.lines=50
#wrapper.event.default.email.maillog.format=LPTM
#wrapper.event.default.email.maillog.loglevel=INFO

# Enable specific event emails.
#wrapper.event.wrapper_start.email=TRUE
#wrapper.event.jvm_prelaunch.email=TRUE
#wrapper.event.jvm_start.email=TRUE
#wrapper.event.jvm_started.email=TRUE
#wrapper.event.jvm_deadlock.email=TRUE
#wrapper.event.jvm_stop.email=TRUE
#wrapper.event.jvm_stopped.email=TRUE
#wrapper.event.jvm_restart.email=TRUE
#wrapper.event.jvm_failed_invocation.email=TRUE
#wrapper.event.jvm_max_failed_invocations.email=TRUE
#wrapper.event.jvm_kill.email=TRUE
#wrapper.event.jvm_killed.email=TRUE
#wrapper.event.jvm_unexpected_exit.email=TRUE
#wrapper.event.wrapper_stop.email=TRUE

# Specify custom mail content
wrapper.event.jvm_restart.email.body=The JVM was restarted.\n\nPlease check on its status.\n

#********************************************************************
# Wrapper Windows NT/2000/XP Service Properties
#********************************************************************
# WARNING - Do not modify any of these properties when an application
#  using this configuration file has been installed as a service.
#  Please uninstall the service before modifying this section.  The
#  service can then be reinstalled.

# Name of the service
wrapper.name={{{app_name}}}

# Display name of the service
wrapper.displayname={{{app_long_name}}}

# Description of the service
wrapper.description={{{app_description}}}

# Service dependencies.  Add dependencies as needed starting from 1
{{#app_wrapper_ntserver_dependencies}}
wrapper.ntservice.dependency.{{{item}}}
{{/app_wrapper_ntserver_dependencies}}

# Mode in which the service is installed.  AUTO_START, DELAY_START or DEMAND_START
wrapper.ntservice.starttype=AUTO_START

# Allow the service to interact with the desktop.
wrapper.ntservice.interactive=false

